<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/navbar'); %>
  <table class="table">
    <tbody>
      <% if(productos?.length > 0){ %>
            <thead>
              <tr>
                <th class="table-primary" scope="col">#</th>
                <th class="table-primary" scope="col">Nombre</th>
                <th class="table-primary" scope="col">Precio</th>
                <th class="table-primary" scope="col">Foto</th>
              </tr>
            </thead>
      <% productos.forEach((item)=>{ %>
            <tr>
              <th><%=item.id%></th>
              <th><%=item.title%></th>
              <th><%=item.price%></th>
              <th><img class="product-img" src="<%=item.url %>" /></th>
            </tr>
      <% }) %>
      <% } else { %>
      No hay productos cargados hasta el momento
      <% } %>

    </tbody>
  </table>
</body>

</html>